@import "variables";
@import "text";
@import "effects";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

body {
  background-color: $light;
  margin: 0;
  color: $dark;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 100vh;
}

.icon-link {
  @include smooth-transition;
  color: $dark;
  &:hover {
    color: $primary-blue;
  }
}

.items-proportional {
  > * {
    flex: 1 1 0;
  }
}

.stack-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-responsive {
  width: 100%;
  min-width: 100px;
  height: auto;
}

header {
  gap: 0.5rem;
  background-color: $light;
  color: $primary-blue;
  box-shadow: 0 0.2rem 0.5rem rgba($dark, 0.05);

  a {
    color: $primary-blue;
    text-decoration: none;
    &:hover {
      color: $primary-blue;
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .img-container {
    display: flex;
    justify-content: center;

    img {
      height: 48px;
      width: 48px;
    }
  }
}

#hero-section {
  .hero-text {
    .hero-phrase {
      @include text-title;
    }
  }
}

#benefits-section {
  .benefits-card {
    @include smooth-transition;
    color: $primary-blue;
    padding: 1rem 2rem 2rem;
    border: 0.2rem solid $primary-blue;
    border-radius: 0.5rem;
    box-shadow: 0.4rem 0.4rem 0 $primary-blue;
    i {
      font-size: 3rem;
    }
    &:hover {
      color: $dark;
    }
  }
}

#api-demo-section {
  .benefits-card {
    @include smooth-transition;
    color: $primary-blue;
    padding: 1rem 2rem 2rem;
    border: 0.2rem solid $primary-blue;
    border-radius: 0.5rem;
    box-shadow: 0.4rem 0.4rem 0 $primary-blue;
    i {
      font-size: 3rem;
    }
    &:hover {
      color: $dark;
    }
  }
}

footer {
  font-size: 0.75rem;
  color: $light;
  width: 100%;
  background-color: $primary-blue;

  a {
    color: $light;
    &:hover {
      color: rgba($light, 0.75);
      text-decoration: none;
    }
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }
}

